@import '../node_modules/bulma/css/bulma.css';

.is-coke {
  background-color: #920000;
  color: #ffffff;
}

.button {
  background-color: #920000;
  color: #ffffff;
  position: fixed;
  bottom: 250px;
}

.button:hover {
  background-color: #9f9f9f;
  color: #ffffff;
}

.title, .subtitle {
  color: #ffffff;
  text-align: center;
}

body {
  background: light-gray;
  color: #fff;
  height: 100vh;
}

.frame {
  display: flex;
  align-items: center;
  height: calc(100% - 200px);
  justify-content: center;
}

.can {
  animation-name: bounce;
  animation-duration: 0.375s;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(.6,0.08,0.8,.6);
  animation-iteration-count: infinite;
  border-radius: 50%;
}

@keyframes bounce {
  from { transform: translate3d(-80px, 0, 0);     }
  to   { transform: translate3d(80px, 80px, 90px); }
}
